<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<ol>
<li>1) Создание задачи
Имя,
Комментарий,
Активная
Клиент
Дата Создания
</li>


<li>2) Создание подзадачи
подзадача
Имя,
Активность
Состояние
Дата
Комментарий

</li>
<li>3) Создание настроек
Размер комменарий(ширина,высота)

</li>
<li>Комментарий к подзадаче
Имя
Текст
</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>

</ol>






</body>
</html>